#projects{
    background-color: gray;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#welcome-section{
    height: 100vh;
}

nav{
    position: fixed;
}

@media screen and (max-width: 1500px) {
    #projects {
      background-color: rebeccapurple;
    }
}
